PORT=3000
NODE_ENV=development
# Database URIs
MONGODB_URI=mongodb://localhost:27017/your_db
POSTGRES_URI=postgresql://user:password@localhost:5432/your_db
# DB_HOST=localhostDATABASE_URL="file:./dev.db"
